<div id="index">
  <div class="jumbotron">
    <div class="container">
      <h1>This is KeanBnB.</h1>
      <p>Having overnight guests is a real pain at Kean University. KeanBnB is here to ease the pain.</p>
      <p id="jumbotron_actions"><a class="btn btn-lg btn-primary" href="#">Log In</a> {{#link-to 'register' class="btn btn-success btn-lg"}}Register{{/link-to}}</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>No More Paperwork</h3>
          <p>Do you hate the paperwork that reslife requires just to have somebody spend the night? So do we. How many times have you used an unscheduled overnight because you forgot about the paperwork? We have tons of times. With KeanBnb, we take care of the paperwork for you. That's right, no more paperwork.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>Stop Looking for Suitemates</h3>
          <p>If you're like us, you and your suitemates are busy. It's easy to go days without seeing them, and tracking them down for signitures on your overnight form can be a huge pain. When somebody requests an overnight with KeanBnb, all of your suitemates will recieve emails. Their permission is just a tap/click away.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>Privacy, If You'd Like It</h3>
          <p>It's easy to make your room completely hidden from all KeanBnB members except a select group of friends.</p>
        </div>
      </div>
    </div>
  </div>
</div>
